.center{
    margin: 0 auto; 
    float: none;
    display: block;
}

.center-text{
    text-align: center;
}

.full-button{
    width: 100%;
}

.mdl-card{
    width: 50%;
}

.main-card{
    padding-left: 5%; 
    padding-right: 5%; 
    padding-bottom: 5%;
    margin-bottom: 5%;
    width: 90%;
    margin: 0 auto;
}

.element-padding-bottom{
    padding-bottom: 5%;
}

#searchBox{
    width: 40%; 
}