.center{
    margin: 0 auto; 
    float: none;
    display: block;
}

.center-text{
    text-align: center;
}

.full-button{
    width: 100%;
}

.mdl-card{
    width: 50%;
}

.main-card{
    padding-left: 5%; 
    padding-right: 5%; 
    padding-bottom: 5%;
    margin-bottom: 5%;
    width: 90%;
    margin: 0 auto 2%;
}

.notification-card{
    padding-left: 1%; 
    padding-right: 1%; 
    padding-bottom: 1%;
    margin-bottom: 5%;
    width: 50%;
    margin: 0 auto 2%;
}

.element-padding-bottom{
    padding-bottom: 5%;
}

.table-data{
    vertical-align: middle !important;
    text-align: center;
}

.dareu-table{
    width: 80%;
    margin: auto; 
}

#searchBox{
    width: 40%; 
}

.main-alert{
    width: 50%;
    text-align: center;
}
.short-form-button{
    width: 50%;
    margin-top: 1rem;
}
.short-form-group{
    width: 50%; 
    margin-bottom: 1rem;
}

a.button-link {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.dare-description-list{
    list-style-type: none;
    width:100%;
    margin: auto;
}

table > thead > tr{
    background-color: #373A3C;
    color: white; 
}

table > thead > tr > td{
    text-align: center; 
}

table > tbody > tr > td{
    text-align: center; 
}