.admin-config-section{
  margin-top: 5rem !important;
  padding: 1rem 0;
}

.table-fixed {
  .tbody{
    height: 10rem;
    overflow-y: auto;
  }
}


@media(min-width:772px){
  .categories-card{
    width:70%;
    margin: 0 auto;
  }
}
