<section id="contact-section">
            <app-annonymous-navbar></app-annonymous-navbar>
            <div class="container">
                <div class="row">
                  <div class="col-xs-12 col-md-4 col-lg-6 contact-happy">
                    <h4 class="h4 text-xs-center font-weight-bold">Want to ask something personally?</h4>
                    <img src="/assets/img/so-happy.png">
                  </div>
                  <div class="col-xs-12 col-md-8 col-lg-6">
                    <app-contact-form></app-contact-form>
                  </div>
                </div>
            </div>
        </section>
