<header class="header navbar fixed-top" role="banner" tabindex="1">
    <div class="container">


        <a href="/" class="logo">
            <img src="/assets/img/white-icon.svg" alt="Logo">
        </a>
        <button type="button" class="menu-button hidden-md-up" data-toggle="collapse" data-target="#principal-menu" aria-expanded="false">
            <i class="material-icons ripple">menu</i>
        </button>

        <nav id="principal-menu" class="collapse">
            <ul>
                <li class="ripple"><a routerLink="/admin/dares">Dares</a></li>
                <li class="ripple"><a routerLink="/admin/users">Users</a></li>
                <li class="ripple"><a routerLink="/admin/sponsors">Sponsors</a></li>
                <li class="ripple"><a routerLink="/admin/config">App Config</a></li>
            </ul>
        </nav>
    </div>
</header>
